@model BookStore.Models.Purchase
@*
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
*@
@{ 
    ViewBag.Title = "Покупка книг";
}

    <div>
        <h3>Форма оформлення покупки</h3>
        @using (Html.BeginForm("Buy", "Home", FormMethod.Post))        // параметри: метод, контроллер, тип запиту;
        {
            @*<input type="hidden" value="@ViewBag.BookId" name="BookId" />*@
            @* @Html.Hidden("BookId", ViewBag.BookId as string) *@
            @* @Html.Hidden("BookId", Model.BookId)             // строго типізована в'юшка *@
            @Html.EditorFor(m=>m.BookId)                        // строго типізований хелпер
            <table>
                <tr>
                    <td><p>@Html.LabelFor(m=>m.Person, "Введіть ім'я")</p></td>
                    <td>@Html.EditorFor(m=>m.Person)</td>
                </tr>
                <tr>
                    <td><p>@Html.Label("Address", "Введіть адресу")</p></td>
                    <td>@Html.EditorFor(m=>m.Address)</td>
                </tr>
                <tr><td><input type="submit" value="Відправити" /> </td><td></td></tr>
            </table>

        }
    </div>
