@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    //Layout = null;
}
@using BookStore.Models;
@model IEnumerable<BookStore.Models.Book>
<div>
    <h3>Розпродаж книг</h3>
    <table>
        <tr class="header">
            <td><p>Назва книги</p></td>
            <td><p>Автор</p></td>
            <td><p>Ціна</p></td>
            <td></td>
        </tr>
        @foreach (var b in Model)   //об'єкт Модел посилається на той список книг, який ми передаєм в  View (index)
        {
            <tr>
                <td><p>@b.Name</p></td>
                <td><p>@b.Author</p></td>
                <td><p>@b.Price</p></td>
                <td><p><a href="/Home/Buy/@b.Id">Купити</a></p></td>
            </tr>
        }
    </table>
</div>

@*HERLEPRS*@
@*HERLEPR - 1*@
@helper BookList(IEnumerable<BookStore.Models.Book> books)  //хелпер призначений для представлення колекції книг у вигляді списку
{
    <ul>
        @foreach (BookStore.Models.Book b in books)
        {
            <li>@b.Name</li>
        }
    </ul>
}
@*4.6 Робота з формами*@
@using (Html.BeginForm("GetForm", "Home", FormMethod.Post))
{
    @Html.DropDownList("author", ViewBag.Authors as SelectList)
    @*
    @Html.CheckBox("set", false) <span>Включити</span>
    *@
    @*
        @Html.RadioButton("color", "red")
        <span>Червоний</span>
        <br />
        @Html.RadioButton("color", "blue")
        <span>Синій</span>
        <br />
        @Html.RadioButton("color", "green", true)
        <span>Зелений</span>
    *@
    @* @Html.TextArea("text","Привіт світ!",5,50,null) *@
    <input type="submit" value="Send" />
}
@*
    <h3>Список книг</h3>
    @BookList(Model)
*@

@*HERLEPR - 2*@
@helper CreateList(string[] all)
{
    <ul>
        @foreach (string s in all)
        {
            <li>@s</li>
        }
    </ul>
}
@{
    string[] cities = new string[] { "Лондон", "Рим", "Берлін" };
}
@{
    string[] countries = new string[] { "Великобританія", "Італія", "Німеччина" };
}

@using Begin_BS.Helpers
@Html.CreateList(cities)
@ListHelper.CreateList(Html, countries)

@*
    <h3>Міста</h3>
    @CreateList(cities)
    <br />
    <h3>Та країни</h3>
    @CreateList(countries)  *@   @*багаторазове використання хелпера CreateList*@



    @*PARTIAL VIEWS*@
    @*@Html.Partial("GetList", new string[] {"USA","UK","Spain","Italy"})*@ @*звертається до представлення GetList*@
    @Html.Action("GetList")  @*звертається до методу GetList*@
    @*@{Html.RenderPartial("GetList");} *@  @*метод в якості параметру приймає назву представлення*@

    @section Footer {
        Всі права захищені. 2020.
    }